* {
    padding: 0px;
    margin: 0px;
}


body {
  background-color: blanchedalmond;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 700px;
}


.page-title {
  color: darkolivegreen;
  font-family: 'Georgia', serif;
  margin-bottom: 20px;
  border-bottom: 2px solid darkolivegreen; 
 }



ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a {
    color: darkolivegreen;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 3px solid darkolivegreen;
    width: 80%;
    max-width: 600px;
}